@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    font-family: "IM Fell Double Pica", serif;
    letter-spacing: .1em;
    background-color: #F8FAF1;
}

/* ヘッダー -------------------------*/
#mainvisual {
    width: 100%;
    height: 100vh;
    background-image: url("../image/demo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px
}
ul{
    display: flex;
    list-style: none;
}
li a{
    text-decoration: none;
    color: #333;
    margin-left: 2em;
}
h2{
    position: absolute;
    top:40%;
    left: 20%;
    font-size: 38px;
}
.span{
    color: #B9D08B;
}


/* ABOUT -------------------------*/
h3{
    font-size: 24px;
    text-align: center;
    margin: 100px 0 50px;
}
#about{
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
.about-wrapper{
    display: flex;
}
.about-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}
.about-content{
    display: flex;
    flex-direction: column;
}
.about-text{
    width: 400px;
    padding: 80px 80px 60px 80px;
}
.about-text p{
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.about-btn{
    text-align: center;
}
.about-btn a{
    text-decoration: none;
    color:#333;
}


/* WORKS -------------------------*/
#works{
    width: 900px;
    margin: 0 auto;
}
.works-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works-img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}


/* CONTACT -------------------------*/
#contact{
    width: 900px;
    margin: 0 auto;
}
#contact p{
    text-align: center;
    margin-bottom: 20px
}
.mail{
    display: block;
    margin: 0 auto;
    text-align: center;
}


/* フッター -------------------------*/
footer{
    width: 100%;
    height: 150px;
    background-color: #749D2D;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin-top: 100px;
}


/* 問い合わせフォーム ----------------------*/
.contact-page {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}
.contact{
    width: 960px;
    margin: 0 auto;
    margin-top: 3rem;
}
.contact-ttl{
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.breadcrumb{
    display: flex;
    gap: 0 22px;
    list-style: none;
    font-size: .9em;
}
.breadcrumb li {
    display: flex;
    align-items: center;
}
.breadcrumb li:first-child::before {
    display: inline-block;
    width: 1.2em;
    height: 1em;
    margin-right: 4px;
    background-image: url(../image/home.png);
    background-repeat: no-repeat;
    content: '';
}
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    margin-left: 10px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    content: '';
}
.breadcrumb a {
    color: #333333;
    text-decoration: none;
}
input,textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
}
input:invalid{
    border:solid 1px red;
}
.error-message{
    font-size: 12px;
    color: #ff7676;
    display: none;
}
textarea:invalid + .error-message{
    display: block;
}
.btn-submit{
    text-align: center;
}
button{
    border:1px solid #333;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
}