@charset "utf-8";


html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    font-family: "IM Fell Double Pica", serif;
    letter-spacing: .1em;
    background-color: #F8FAF1;
}

/* ヘッダー -------------------------*/
#mainvisual {
    width: 100%;
    height: 100vh;
    background-image: url("../image/demo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px
}
h1 a{
    text-decoration: none;
    color: #333;
    font-size: 30px;
}
ul{
    display: flex;
    list-style: none;
}
#mainvisual li a{
    text-decoration: none;
    color: #333;
    margin-left: 2em;
}
#mainvisual li a:hover{
    color: #749D2D;
}
h2{
    position: absolute;
    top:40%;
    left: 20%;
    font-size: 38px;
}
.slide-in_text{
    color: #B9D08B;
    margin-left: 180px;
}
/* 流れる文字 */
#mainvisual h2{
    overflow: hidden;
}
.slide-in {
    overflow: hidden;
    display: inline-block;
}
.slide-in_inner {
    display: inline-block;
}
.leftAnime{
    opacity: 0;
}
.slideAnimeLeftRight {
    animation-name:slideTextX100;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes slideTextX100 {
    from {
    transform: translateX(-100%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}
.slideAnimeRightLeft {
    animation-name:slideTextX-100;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes slideTextX-100 {
    from {
    transform: translateX(100%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}

/* ABOUT -------------------------*/
h3{
    font-size: 24px;
    text-align: center;
    margin: 100px 0 50px;
}
#about{
    width: 60%;
    height: 600px;
    margin: 0 auto;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}
.about-content{
    display: flex;
    flex-direction: column;
}
.about-text{
    width: 400px;
    padding: 80px 80px 60px 80px;
}
.about-text p{
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.about-btn a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 230px;
    padding: 10px 0px 10px 25px;
    line-height: 1.8;
    text-decoration: none;
    color: #333;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.about-btn a:before, .about-btn a:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
}
.about-btn a:before {
    width: 0.5rem;
    height: 0.5rem;
    left: 1.1rem;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    z-index: 2;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.3s;
}
.about-btn a:after {
    left: 0;
    background: #B9D08B;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
    transform: translateY(-50%);
    transition: all 0.5s;
}
.about-btn a span {
    position: relative;
    transition: all 0.3s;
    z-index: 3;
}
.about-btn a:hover span {
    color: #fff;
}
.about-btn a:hover:before {
    left: 2.5rem;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
}
.about-btn a:hover:after {
    right: 0;
    width: 100%;
    background: #749D2D;
}

/* WORKS -------------------------*/
#works{
    width: 70%;
    margin: 0 auto;
}
.works-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works-img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

/* CONTACT -------------------------*/
#contact{
    width: 90%;
    margin: 0 auto;
}
#contact p{
    text-align: center;
    margin-bottom: 20px
}
.mail{
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* フッター -------------------------*/
footer{
    width: 100%;
    height: 150px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin-top: 100px;
    background-color: #749d2d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23b9d08b' fill-opacity='0.15' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat;
}

/* スクロール時にふわっと表示させる */
.fadeIn {
    opacity: 0;
    transform: translateY(50px);
    transition: 3s;
}
.fadeIn.active {
    opacity: 1;
    transform: translateY(0);
}
/* トップへ戻るボタン ----------------------*/
#page-top a {
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}
#page-top img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}





/* ABOUTページ---------------------- */
.about-page{
    width: 60%;
    margin: 0 auto;
    display: flex;
}
.about-box{
    width: 400px;
    margin: 0 auto;
    margin-top: 5rem;
}
.about-box p{
    margin-bottom: 10px;
}
.name{
    font-size: 10px;
    margin-left: 2em;
}
.line-top{
    border-top: #333 1px solid;
}
.skill-page{
    width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
}
h5{
    font-size: 20px;
}
.skill-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.skill-design, .skill-code{
    width: 400px;
    text-align: center;
}





/* 問い合わせフォーム ----------------------*/
.contact{
    width: 960px;
    margin: 0 auto;
    margin-top: 3rem;
}
.breadcrumb{
    display: flex;
    gap: 0 22px;
    list-style: none;
    font-size: .9em;
}
.breadcrumb li {
    display: flex;
    align-items: center;
}
.breadcrumb li:first-child::before {
    display: inline-block;
    width: 1.2em;
    height: 1em;
    margin-right: 4px;
    background-image: url(../image/home.png);
    background-repeat: no-repeat;
    content: '';
}
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    margin-left: 10px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    content: '';
}
.breadcrumb a {
    color: #333333;
    text-decoration: none;
}
/* 送信完了ページ ----------------------*/
.contact-page{
    width: 100%;
    height: calc(100vh - 6rem - 271px);
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
}