@charset "utf-8";

body {
    font-size: 100%;
    font-family: sans-serif;
}


/* ヘッダー */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 87.5%;
    margin: 0 auto;
}
.logo{
    width: 70px;
    height: 20px;
    margin-left: 0;
    margin-right: auto;
    font-weight: bold;
}
a {
    padding: 1em 10px;
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    letter-spacing: .1em;
}