@charset "utf-8";

body {
    font-size: 100%;
    font-family: sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 5em;
}


/* ヘッダー */
header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 10px 5%;
}
.logo{
    width: 70px;
    height: 20px;
    margin-left: 0;
    margin-right: auto;
    font-weight: bold;
    color: #333;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
}
ul {
    display: flex;
    list-style: none;
}
.gnavi li a{
    position: relative;
    padding:10px 30px;
    text-decoration: none;
    letter-spacing: .1em;
    color: #333;
}
.gnavi li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background: #333;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: left top;
}
.gnavi li a:hover::after {
    transform: scale(1, 1);
}
.background {
    background-image: url('image/008ELLY18420_TP_V4.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* タイトル */
.title{
    text-align: center;
    font-size: 30px;
    letter-spacing: .1em;
    margin: 60px auto 30px;
    color: #333
}
/* トップページ自己紹介 */
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 80px;
}
.about-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: thistle;
}
.about-content{
    margin-left: 100px;
    padding-left: 30px;
}
.about-name{
    font-size: 20px;
    letter-spacing: .1em;
    margin-bottom: 30px;
}
.about-text{
    margin-bottom: 30px;
    letter-spacing: .1em;
    line-height: 2.5;
    overflow-wrap: break-word;
}
.btn-container{
    margin-top: 80px;
    text-align: right;
}
.button{
    position: relative;
    display: inline-block;
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    outline: none;
}
.button::before{
    content: '';
    position: absolute;
    bottom:-8px;
    left:15%;
    width: 85%;
    height: 1px;
    background:#333;
    transition: all .3s;
}
.button::after{
    content: '';
    position: absolute;
    bottom:-3px;
    right:0;
    width: 15px;
    height:1px;
    background:#333;
    transform: rotate(35deg);
    transition: all .3s;
}
.button:hover::before{
    left:30%;
}
.button:hover::after{
    right:-15%;
}

/* トップページ作品 */
.works-container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 80px;
    justify-content: center;
    padding: 50px 80px;
}
.works-image{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    background-color: thistle;
}
.works-title{
    text-align: center;
}

/* トップページコンタクト */
.contact-text{
    text-align: center;
}
.mail{
    display: flex;
    justify-content: center;
    margin: 2rem auto 6rem;
}
.mail-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-color: thistle
}

/* フッター */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.copyright{
    width: 100%;
    text-align: center;
    color: aliceblue;
    letter-spacing: .1em;
    background-color: #333;
    padding: 2rem 0;
}

/* 問い合わせフォーム */
.wappar{
    display: grid;
    grid-template-columns: 480px 480px;
}
.wappar-item{
    display: flex;
}

/* 問い合わせフォーム */
.contact-page {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}
.contact{
    width: 960px;
    margin: 0 auto;
    margin-top: 3rem;
}
.contact-ttl{
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.breadcrumb{
    display: flex;
    gap: 0 22px;
    list-style: none;
    font-size: .9em;
}
.breadcrumb li {
    display: flex;
    align-items: center;
}
.breadcrumb li:first-child::before {
    display: inline-block;
    width: 1.2em;
    height: 1em;
    margin-right: 4px;
    background-image: url(image/home.png);
    background-repeat: no-repeat;
    content: '';
}
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    margin-left: 10px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    content: '';
}
.breadcrumb a {
    color: #333333;
    text-decoration: none;
}
input,textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
}
input:invalid{
    border:solid 1px red;
}
.error-message{
    font-size: 12px;
    color: #ff7676;
    display: none;
}
textarea:invalid + .error-message{
    display: block;
}
.btn-submit{
    text-align: center;
}
button{
    border:1px solid #333;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
}