@charset "utf-8";

body {
    font-size: 100%;
    font-family: sans-serif;
}


/* ヘッダー */
header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 10px 5%;
}
.logo{
    width: 70px;
    height: 20px;
    margin-left: 0;
    margin-right: auto;
    font-weight: bold;
    color: aliceblue;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
}
ul {
    display: flex;
    list-style: none;
}
.gnavi li a{
    position: relative;
    padding:10px 30px;
    text-decoration: none;
    letter-spacing: .1em;
    color: aliceblue;
}
.gnavi li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background: aliceblue;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: left top;
}
.gnavi li a:hover::after {
    transform: scale(1, 1);
}
.background {
    background-image: url('image/008ELLY18420_TP_V4.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* タイトル */
.title{
    text-align: center;
    font-size: 30px;
    letter-spacing: .1em;
    margin: 60px auto 30px;
    color: #333
}
/* トップページ自己紹介 */
.about{
    display: flex;
    justify-content: center;
}
.about-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 80px;
    background-color: aquamarine;
}
.about-text{
    width: 500px;
    padding: 50px;
}

/* トップページコンタクト */
.contact-text{
    text-align: center;
}
.mail-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin: 20px auto;
    background-color: aquamarine;
}

/* フッター */
footer{
    background-color: #333;
}
.copyright{
    text-align: center;
    color: aliceblue;
    letter-spacing: .1em;
}