@charset "utf-8";

body {
  background-color: #fbfaf5;
  font-family: "Sawarabi Mincho";
  letter-spacing: 0.1rem;
  line-height: 30px;
}

/* ヘッダー----- */
header {
  width: 100%;
}
/* スリック */
.slide-box {
  position: relative;
  margin: 0;
  padding: 0;
  }
  .slide {
  position: relative;
  margin: 0;
  padding: 0;
  }
  .slide .item {
  position: relative;
  height: 100%;
  }
  .slide .item a {
  display: block;
  }
  .slide .item::before {
  display: block;
  padding-top: 39%;
  content: "";
  }
  .slide .item .image {
  position: relative;
  overflow: hidden;
  }
  .slide .item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  }
  .slide > .slick-list,
  .slide > .slick-list > .slick-track,
  .slide > .slick-list > .slick-track > .slick-slide > div {
  position: relative;
  height: 100%;
  }
  .slide-navigation {
  line-height: 0;
  position: relative;
  margin: 0;
  padding: 0;
  }
  .slide-navigation .item {
  position: relative;
  cursor: pointer;
  }
  .slide-navigation .item .image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  }
  .slide-navigation .item .image::before {
  display: block;
  padding-top: 35%;
  content: "";
  }
  .slide-navigation .item .image::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.5;
  background: #000;
  }
  .slide-navigation .slick-current .image::after {
  opacity: 0;
  }
  .slide-navigation .item .image {
  position: relative;
  overflow: hidden;
  }
  .slide-navigation .item .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  }
  .slick-vertical .slick-slide {
    border: 0 solid transparent;
  }
  .slick-arrow {
    z-index: 999;
  }
  .slick-prev {
    top: 25px;
    bottom: 0;
    left: 20px;
    right: auto;
    margin: auto;
  }
  .slick-next {
    top: 25px;
    bottom: 0;
    left: auto;
    right: 20px;
    margin: auto;
  }

/* メインビューの真ん中のロゴ */
.main_logo {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.main_logo-img {
  width: 200px;
  height: 150px;
}
h1 {
  font-size: 30px;
  color: white;
}

/* キャッチフレーズ */
.catch {
  position: absolute;
  top: 18%;
  left: 23%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
h2 {
  font-size: 40px;
  line-height: normal;
  color: white;
  text-shadow: #000 1px 0 10px;
}
.slide-in {
  overflow: hidden;
    display: inline-block;
}
.slide-in_inner {
  display: inline-block;
}

/*じわっと見える*/
.blur{
  animation-name:blurAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.02);
  opacity: 0;
  }
  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  }
}
.blurTrigger{
    opacity: 0;
}
.sub_catch {
  margin-left: 80px;
  font-size: 30px;
}

/* ハンバーガーメニュー */
#wrapper nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 500px;
  padding-top: 50px;
  background: #397367;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
}
#wrapper nav ul {
  list-style: none;
}
#wrapper nav ul li {
  padding: 20px 28px;
}
#wrapper nav ul li a {
  text-decoration: none;
  color: #fff;
}
#wrapper .btn-gnavi {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#wrapper .btn-gnavi span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#wrapper .btn-gnavi span:nth-child(1) {
  top: 0;
}
#wrapper .btn-gnavi span:nth-child(2) {
  top: 10px;
}
#wrapper .btn-gnavi span:nth-child(3) {
  top: 20px;
}
#wrapper .btn-gnavi.open {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#wrapper .btn-gnavi.open span {
  background: #fff;
}
#wrapper .btn-gnavi.open span:nth-child(1) {
  width: 24px;
  -webkit-transform: translate(-7px, 17px) rotate(45deg);
  transform: translate(-7px, 17px) rotate(45deg);
}
#wrapper .btn-gnavi.open span:nth-child(3) {
  width: 24px;
  -webkit-transform: translate(-7px, -17px) rotate(-45deg);
  transform: translate(-7px, -17px) rotate(-45deg);
}


/* セクション -----*/

/* スクロール時にふわっと表示させる */
.fadeIn {
  opacity: 0;
  transform: translateY(50px);
  transition: 2s;
}
.fadeIn.active {
  opacity: 1;
  transform: translateY(0);
}
.content {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.content-text {
  width: 480px;
  height: 400px;
}
.content img {
  width: 550px;
  height: 400px;
  object-fit: cover;
}
.img_right {
  margin-left: 80px;
}
.img_left {
  margin-right: 80px;
}
h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* フッター----- */
footer {
  width: 100%;
  height: 600px;
  background-color: #6f514c;
  color: white;
  margin-top: 150px;
  padding: 100px 100px;
}
.footer_content {
  display: flex;
}
footer img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 150px;
}
.footer_content-box {
  margin-right: 100px;
  margin-bottom: 170px;
  line-height: 50px;
}
.footer_content-title {
  font-size: 13px;
  margin-bottom: 40px;
}
.footer_content-box a {
  color: white;
  text-decoration: none;
}
.footer_content-box-tel {
  display: flex;
  align-items: center;
}
.footer_content-box-tel img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}
small {
  display: block;
  text-align: center;
}

a .form_bg {
  text-decoration: none;
  color: #fbfaf5;
}
.form_bg {
  position: fixed;
  width: 230px;
  height: 80px;
  bottom: .3%;
  right: .3%;
  background-color: #397367;
  border :solid 2px #fbfaf5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
.form_bg:hover {
  transform: scale(0.9,0.9);
}
.form_bg img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0 40px 0 20px;
}
.form_bg p {
  line-height: 80px;
  font-size: 18px;
}

/* aboutページ----- */
.sub_bg-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.sub_title {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}
.sub_title p {
  font-size: 14px;
  margin-top: 10px;
}

/* experienceページ----- */
.grid_content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 130px;
}
.grid_item {
  width: 250px;
  height: 400px;
  margin: 0 auto;
}
.grid_item img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}
.grid_item-box {
  position: relative;
  width: 250px;
  height: 300px;
}
.grid_item-box p {
  color: #fff;
  font-size: 15px;
  width: 250px;
  height: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grid_item-box:hover p {
  opacity: 1;
}
.experience_content {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.experience_content p {
  color: #000;
}
.experience_content p a {
  color: #397367;
  text-decoration: none;
}

/* フォームページ----- */
.sub_title-img img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 40px;
}
#form {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}
form {
  display: flex;
  flex-direction: column;
}
.form_box {
  border: #397367 1px solid;
  background-color: #fff;
  border-radius: 5px;
  padding-left: 10px;
}
.form_title {
  margin: 15px 0 10px;
  font-size: 18px;
}
.checkboxItem {
  display: flex;
  align-items: center;
  column-gap: 4px;
  line-height: 1;
  cursor: pointer;
}
.checkboxItem:not(:last-of-type) {
  margin-bottom: 16px;
}
.checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #397367;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox:checked {
  background-color: #397367;
}
.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 12px;
  height: 6px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(-45deg);
  textarea {
    border: #030303 1px solid;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 80px;
  }
  button {
    width: 120px;
    height: 50px;
    background-color: #397367;
    border-radius: 5px;
    margin-bottom: 80px;
    cursor: pointer;
    margin: 0 auto;
  }
  button input {
    color: #fff;
  }
}
.radioItem {
  display: flex;
  align-items: center;
  column-gap: 4px;
  line-height: 1;
  cursor: pointer;
}
.radioItem:not(:last-of-type) {
  margin-bottom: 16px;
}
.radioButton {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #397367;
  border-radius: 9999px;
  cursor: pointer;
}
.radioButton:checked::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 12px;
  height: 12px;
  margin: auto;
  border-radius: 9999px;
  background-color: #397367;
}
.select {
  width: 30%;
  height: 30px;
  border: #397367 1px solid;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 10px;
  cursor: pointer;
}
.select:disabled {
  pointer-events: none;
  background-color: #f1f1f1;
  color: #aaa;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}
textarea {
  border: #397367 1px solid;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 80px;
}
button {
  width: 120px;
  height: 50px;
  background-color: #397367;
  border-radius: 5px;
  margin-bottom: 80px;
  cursor: pointer;
  margin: 0 auto;
}
button input {
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {

  /* ヘッダー */
  .catch {
    top: 5%;
    left: 35%;
  }
  h2 {
    font-size: 20px;
  }
  .sub_catch {
    font-size: 17px;
    margin-left: 20px;
  }
  .main_logo {
    top: 13%;
  }
  .main_logo-img {
    width: 50px;
    height: 25px;
  }
  h1 {
    font-size: 10px;
  }
  #wrapper nav {
    width: 180px;
    height: 250px;
  }
  #wrapper nav ul li {
    font-size: 13px;
    padding: 0 0 10px 5px;
  }
  .slide-navigation {
    width: 100%;
  }
  .slide-navigation .item .image::before {
    padding-top: 50%;
  }

  /* セクション */
  .content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
  }
  .content2 {
    flex-direction: column-reverse;
  }
  .content-text {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .content-text h3 {
    font-size: 20px;
  }
  .content-text p {
    font-size: 14px;
  }
  .content img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
  }
  .img_right {
    margin-left: 0;
  }
  .img_left {
    margin-right: 0;
  }

  /* フッター */
  footer {
    height: auto;
    padding: 20px;
  }
  .footer_content {
    flex-direction: column;
  }
  footer img {
    width: 50px;
    height: 35px;
  }
  .footer_content-title {
    font-size: 8px;
    margin-bottom: 8px;
  }
  .footer_content-box {
    margin-bottom: 30px;
  }
  .footer_content-box p {
    font-size: 13px;
  }
  small {
    font-size: 8px;
    margin-top: 50px;
  }

  .form_bg {
    width: 180px;
    height: 60px;
  }
  .form_bg img {
    width: 18px;
    height: 18px;
    margin: 0 20px;
  }


  /* experienceページ----- */
  .grid_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
  }

  /* フォームページ -----*/
  .select {
    width: 100%;
  }
}
